.wrapper {
  background: no-repeat center;
  background-size: cover;
  color: #fff;
}

.mask {
  background: linear-gradient(to right, rgba(31.5, 31.5, 10.5, 1) 150px, rgba(31.5, 31.5, 10.5, 0.84) 100%);
  padding: 30px 0;
}

.title {
  font-weight: 700;
  font-size: 35px;

  span {
    font-weight: 400;
    opacity: 0.8;
  }
}
