@import "../../assets/styles/utils/vars";

.header {
  background: $CBlueDark;
  color: $CWhite;
  padding: 10px 0;
}

.logo {
  width: 154px;
  height: 20px;
}

.locale {
  padding: 4px;
  font-size: 14px;
  display: inline-block;
  text-transform: uppercase;
}
